@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
/**/
/*headerの設定
-----------------------------------------------------------------------------*/
nav {
    width: 100%; /* 親タグに対する割合 */
    padding: 20px 0;
    text-align: center;
    position: fixed; /* 固定 */
    transition: 0.2s;
}

nav.sticky {
    position: fixed;
    display: flex;
    background-color: #000;
    color: white;
    justify-content: space-between;/* 両端に等間隔で設置 */
    align-items: center;/* hrizonal軸をそろえる */
    padding: 5px 3%;
    transition: 0.2s;
}

nav.sticky .logo{
    margin-top: 19px;
    flex: 1;/*logoとstickyの親タグflexに対する割合*/
}
nav.sticky ul{
    flex: 5;

}

nav ul {
    background-color: #000;
    list-style: none; /* リストのマーカーを削除 */
    width: 100%; /* 親タグに対する割合 */
    text-align: center;
}

nav ul li {
    display: inline-block; /* 横並びにする */
    margin-left: 30px;
    color: white;
    margin: 10px; /* 引数が二つなら上下，左右 */
}

nav ul li a {
    padding: 10px 20px;
    transition: 0.8s;
}

.header {
    width: 100%;
    height: 8vh; /* 画面に対する% */
    background-color: black;
}

.logo {
    margin: 0 auto 20px auto; /* 上，右，下，左 */
    font-weight: 450; /* 太さ */
    color: white;
}


/* 460px以下(スマホ)では，menubarのロゴ部をなくしてコンパクトにした．具体的には，pcでのscroll前のcssを活用した．*/
@media (max-width: 460px) {
    nav.sticky .logo {
        display: none;
    }
    nav.sticky {
        width: 100%; /* 親タグに対する割合 */
        padding: 5px 0;
        text-align: center;
        position: fixed; /* 固定 */
        transition: 0.2s;
    }
    nav.sticky ul {
        background-color: #000;
        list-style: none; /* リストのマーカーを削除 */
        width: 100%; /* 親タグに対する割合 */
        text-align: center;
    }
}
/*
headerの設定ここまで
*/
/*
//
//
//
//
index.htmlの設定
-------------------------------------------------------*/
.content{
    color: white;
    padding: 10%;
    /*max-width: 700px;/*これを上回ったとき折り返す*/
}
.content h1{
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 40px;
}

.news-section{
    padding: 20px 10%;
}

.news-section h2{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.news-section .flex {
    display: flex;
    align-items: center; /* これで子要素を垂直方向に中央揃えします */
}
.categoryanddate {
    display: flex; /* 横並びにする flexというcssの配置方法がある */
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
    flex-shrink: 0;
}

.category {
    flex:3;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.date {
    flex:1;
}


.news-title {
    height: 100%;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border-left: 2px solid #000;
    padding-left: 10px;
}