{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="member" class="bg_class" style="background-image: url({% static 'img/members_all.png' %});">
    <div class="spacer"></div>
    <div id="body" class="body">
        <div class="page_title">
            <h1>Member</h1>
            <p>2024</p>
        </div>

        <div class="members_list">
            <h2>Professor</h2>
            <h2>Assistant professor</h2>
            <h2>Research staff / Professor emeritus</h2>
            <h2>Research staff</h2>
            <h2>Ph.D students</h2>
            <div class="flex items-center justify-center w-full px-5 py-6 mx-auto max-w-xl">
                <div class="grid grid-cols-1 gap-4">
                    {% for member in members_PhD %} 
                        <div id="MyBtn{{member.id}}" class="bg-white shadow-xl rounded-xl overflow-hidden">
                            <img alt="team" class="w-32 h-32 mx-auto mt-4 rounded-full object-cover" src="https://storage.googleapis.com/indie-hackers.appspot.com/avatars/300x300_DUFTlhOdmSdoT9F4r1Woo40pyML2.webp">
                            <div class="p-6 text-center">
                                <h4 class="text-xl font-semibold leading-none tracking-tighter text-black">{{member.name}}</h4>
                                <p class="mt-2 text-base leading-relaxed text-gray-500">{{member.name_roman}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h2>Master course students</h2>
            <!--プロフィール-->
            <div class="flex items-center justify-center w-full px-5 py-6 mx-auto max-w-xl">
                <div class="grid grid-cols-3 gap-4">
                    {% for member in members_master2 %}
                        <div id="MyBtn{{member.id}}" class="bg-white shadow-xl rounded-xl overflow-hidden">
                            <img alt="team" class="w-32 h-32 mx-auto mt-4 rounded-full object-cover" src="{{member.image.url}}">
                            <div class="p-6 text-center">
                                <h4 class="text-xl font-semibold leading-none tracking-tighter text-black">{{member.name}}</h4>
                                <p class="mt-2 text-base leading-relaxed text-gray-500">{{member.name_roman}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h2>Bachelor students</h2>
            <!--以下ポップアップ(モーダル)-->
            {% for member in members_all %}
                <div id="memberModal{{member.id}}" class="modal">
                    <div class="modal-content" style="max-width: 600px; min-height: 400px;">
                        <span class="close">&times;</span>
                        <div class="grid gap-5 mx-auto" style="padding: 20px;">
                            <div class="flex flex-col  md:flex-row overflow-hidden rounded-lg shadow-lg bg-white">
                                <div class="px-2 flex-shrink-0 w-full md:w-1/3" style="height: 250px; display: flex; justify-content: center; align-items: center;">
                                    <!-- 画像が縮小して収まるように `scale-down` を使用 -->
                                    {% if member.image %}
                                        <img alt="{{ member.name }}" class="object-scale-down h-full" src="{{ member.image.url }}">
                                    {% else %}
                                        <img alt="default" class="object-scale-down h-full" src="https://images.unsplash.com/photo-1561654791-00316c79efa8?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=900&amp;q=60">
                                    {% endif %}
                                </div>
                                <div class="flex-1 p-5">
                                    <p class="text-center text-xl font-semibold text-black">{{ member.name }}<br></p>
                                    <p class="text-center text-sm text-gray-500">{{ member.name_roman }}</p>
                                    <p class="mt-3 text-black">Research</p>
                                    <p class="mt-2 text-gray-500">{{ member.research }}</p>
                                    <p class="mt-3 text-black">Brief Comment</p>
                                    <p class="mt-2 text-gray-500">{{ member.comment }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
//背景画像のフェードイン
document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
        var memberElement = document.getElementById('member');
        memberElement.style.opacity = "1";
        memberElement.style.visibility = "visible";
    }, 100); // 0.1秒後に実行
});

    //フェードインの設定
window.onload=function(){
    setTimeout(function(){
        var bodyelement = document.getElementById('body');
        bodyelement.classList.add('body_active');
    },1500);
}
    //member.idにより識別されるモーダルを表示
document.addEventListener("DOMContentLoaded", function() {
    // すべての閉じるボタンに対するイベントリスナーを設定
    document.querySelectorAll('.close').forEach(function(span) {
        span.onclick = function() {
            // この閉じるボタンが属するモーダルを非表示にする
            this.closest('.modal').style.display = 'none';
        };
    });

    // モーダルの外側をクリックした場合にモーダルを閉じる
    document.querySelectorAll('.modal').forEach(function(modal) {
        modal.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        };
    });

    // 各ボタンに対してイベントリスナーを設定
    document.querySelectorAll("[id^='MyBtn']").forEach(function(btn) {
        btn.onclick = function() {
            // ボタンのIDから対応するモーダルのIDを導出
            var modalId = 'memberModal' + btn.id.replace('MyBtn', '');
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'flex';
            }
        };
    });
});
</script>
<style>
    [id^='MyBtn'] {
        cursor: pointer;
    }
</style>
{% endblock %}