{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="toppage">
    <div class="toppage-text">
        <span>Welcome to</span>
        <h1>Satoh laboratory</h1>
        <p>佐藤研究室では超短パルスレーザーを用いた磁性体の制御・測定に挑戦しています。</p>
    </div>

    <!--<div class="toppage-img">
        <img src="{%static 'img/Hysteresis.png'%}">
    </div>-->
</section>


 佐藤研究室です．
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <p>ここに文章を書く．</p>
 <style>
        .toppage{
            background-image:url("{%static 'img/space.jpg'%}");/*notionのメモも参照*/
            width:100%;
            height:100vh;
            background-position: center;
            background-size: cover;
        }
 </style>
{% endblock %}