{% load static %}
<div class="prof_templete">
    <div class="prof_body">
        <div class="prof_left" style="text-align: right;">
            <h2>三国 宏樹</h2>
            <br>
            東京工業大学 理学院物理学系 学生
            <br>
            <p>研究テーマ</p>
            スピントロニクス
            <br>
            <p>出身地</p>
            埼玉県
            <br>
            <p>ひとこと</p>
            ほげほげ
            <br>
            <p>出版物</p>
            <a href="">Google Scholar</a>
        </div>
        <div class="prof_right" style="text-align: left;">
            <p>学歴</p>
            2016-2019 栄東高等学校
            <br>
            2019-2023 千葉大学 理学部 物理学科
            <br>
            2023-2025 東京工業大学 理学院 物理学系
            <p>職歴</p>
            2025- 富士フイルム株式会社
            <br>
            2050 FIRE
            <p>受賞</p>
            2020 成人式
            <br>
            20XX ほげほげ
        </div>
    </div>
</div>